[Unit]
Description=Coturn STUN/TURN Server
Documentation=man:coturn(1) man:turnadmin(1) man:turnserver(1)
After=network.target
After=network-online.target
After=remote-fs.target
Wants=network-online.target

[Service]
User=turnserver
Group=turnserver
Type=notify
EnvironmentFile=/etc/default/coturn
PIDFile=/run/coturn/turnserver.pid
RuntimeDirectory=coturn
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/turnserver -o -c /etc/turnserver.conf $EXTRA_OPTIONS
ExecStopPost=/bin/rm -f /run/coturn/turnserver.pid
Restart=on-abort

LimitCORE=infinity
LimitNOFILE=999999
LimitNPROC=60000
LimitRTPRIO=infinity
LimitRTTIME=7000000
CPUSchedulingPolicy=other
UMask=0007

[Install]
WantedBy=multi-user.target
Alias=turnserver.service
